.~lock.Age-specific fertility rates, Total fertility and .xls#
Age-specific fertility rates, Total fertility and .xls
UserGuide2018-508.pdf
Nat2018PublicUS.c20190509.r20190717.txt
Nat2018us.zip
F00008390-WVS_Longitudinal_1981_2016_r_v20180912.rds
